.header-one{
    text-align: center;
    margin-top:15px;
    color: ffffff;
    background-color: white;
}
.main-nav{
    display: flex;
    font-size: 22px;
    margin-left: 200px;
    padding: 15px;

}
.main-nav ul{
    text-decoration: none;
    display: flex;
    
}
.main-nav ul li{
    list-style-type: none;
    padding: 15px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight:bold ;

}
.scc{
    float: right;
    list-style: none;
}

.scc a{
    text-decoration: none;
    list-style: none;
    padding: 10px;
    text-align: right;
    border-left:1px solid #333 ;
   
}
.smimg{
    width: 750px;
    height: 416px;
    margin-right: 15px;
}


.spc{
    margin: 30px;
    color:black;
    text-decoration: solid;
    text-align: center;
    font-weight: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.spc1{
    border-right: none;
}
