/* styles the first navigation bar horizontally */

h2{
    letter-spacing: 3px;
    font-size: 35px;
    text-align: center;
    line-height: 100px;
}
/* leader main navigation code */

.header-one{
    text-align: center;
    margin-top:15px;
    color: ffffff;
    background-color: white;
}
.main-nav{
    display: flex;
    font-size: 22px;
    margin-left: 200px;
    padding: 15px;

}
.main-nav ul{
    text-decoration: none;
    display: flex;
    
}
.main-nav ul li{
    list-style-type: none;
    padding: 15px;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight:bold ;
}
/* styling for navbar  for world  */
.world-nav {
   
    padding: 30px;
    font-size: 30px;
  
}
.world-nav ul{
    display: flex;
   text-align: center;
}
.world-nav ul li{
    list-style: none;
    text-align: center;
}
.world-nav ul li a {
    text-decoration: none;
    display: flex;
}
.world-image{
    text-align: center;
}
h3{
    font-size: 50px;
    letter-spacing: 3px;

}