.header-one{
    text-align: center;
    margin-top:15px;
    color: ffffff;
    background-color: white;
}
.main-nav{
    display: flex;
    font-size: 22px;
    margin-left: 200px;
    padding: 10px;
    margin-top: 20px;
    background-color: white;
}
.main-nav ul{
    text-decoration: none;
    display: flex;
    
}
.main-nav ul li{
    list-style-type: none;
    padding: 15px;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-weight:100 ;
   margin-top: 20px;
}
.h4{
    text-align: center;
}
body{
    background-color: rgb(207, 207, 207);
}
.container {
    position: relative;
    text-align: center;
    color: black;
  }
  .textcenter img{
     width: 100%;
  }
  .textcenter{
      max-width: 100%;
      position: relative;
  }
  .textcenter figcaption{
      position: absolute;
      top: 80%;
      left: 0;
      width: 100%;
      text-align: center;
      color: black;

  }